/*Import Google Font Chivo Mono*/
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

/* color scheme sourced from https://www.hostinger.co.uk/tutorials/website-color-schemes*/
:root {
  --cavern-pink: #E1B0AC;
  --light-pink: #F2D4D6;
  --navy-blue: #213F99;
  --basic-text: #515151;
  --card-text: #fff;
  --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  font-family: 'Chivo Mono', monospace;
  color: var(--basic-text);
}

/*Navigation CSS*/
.customNav {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: var(--light-pink)!important;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}

.dropdown-menu{
  background-color: var(--cavern-pink)!important;
}

/* Jumbotron  */
.jumbotron {
  background-image: url(../images/portfolio-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Text is centered and has min and max width*/
.jumbo-text-container {
  width: 100%;
  min-width: 300px;
  max-width: 450px;
  text-align: center;
}

.banner-text{
  color: var(--basic-text);
}

/*Different color for my name*/
.text-blue{
  color: var(--navy-blue);
  font-weight: bolder;
}

/*H2 Title - title of the sections*/
.sectionHeading{
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 3rem;
}

/*About Me Section*/
.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
}
/*Center image on its column*/
.imageContainer{
  display: flex;
  justify-content: center;
}

/*Sizing of image bootstrap*/
.img-fluid{
  max-width: 80%; 
  height: auto;
}

/*White Space on top of About Me title*/
.topWhiteSpace{
  height: 20%;
}


/*My Work Section*/
.text-align-center{
  text-align: center;
}

#my-works-section{
  padding-top: 75px;
}

/*Cards for each projects*/
.card {
  background-color: rgba(57, 62, 93, 0.7);
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 3px;
}

/*container for description for each project with transition*/
.card article {
  padding: 10%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*Title of the projects on cards*/
.card h2 {
color: var(--card-text);
font-weight: 800;
font-size: 25px;
border-bottom: #fff solid 1px;
}

/*brief descption of each projects*/
.card h4 {
  font-weight: 300;
  color: #fff;
  font-size: 16px;
}

/*Images inside the cards height to change depending on viewport - zoom transition*/
.card img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0.4;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -o-transition: all 4s ease;
  -ms-transition: all 4s ease;
  transition: all 4s ease;
}

/*Clickable View website title to ease up - container*/
.see_more {
  background-color: #F2D4D6;
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transform: translate(0px, 70px);
  -webkit-transform: translate(0px, 70px);
  -moz-transform: translate(0px, 70px);
  -o-transform: translate(0px, 70px);
  -ms-transform: translate(0px, 70px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*Clickable View website title*/
.see_more span {
  font-size: 30px;
  color: var(--navy-blue);
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 5px;
  text-decoration: none;
}
  
/*Card Hovers*/
.card:hover {
  cursor: default;
}

.card:hover img {
  opacity: 0.1;
  transform: scale(1.5);
}

.card:hover article {
  transform: translate(2px, -69px);
  -webkit-transform: translate(2px, -69px);
  -moz-transform: translate(2px, -69px);
  -o-transform: translate(2px, -69px);
  -ms-transform: translate(2px, -69px);
}
  
.card:hover .see_more {
  cursor: pointer;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  opacity: 1;
}

/*My Skills Section and Education*/
.my-skills-card, .my-education-card{
  background-color: var(--light-pink);
}

.btn-primary{
  background-color: var(--cavern-pink);
  border-color: var(--navy-blue);
  color: var(--navy-blue);
}

.btn-primary:hover {
  background-color: var(--light-pink);
}

